@model Models.Edition

@using (Html.BeginForm("Create", "Edition", FormMethod.Post, new { id = "CreateForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <div id="editioncontent">
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.isNew)
            @Html.HiddenFor(model => model.isActivated)
            @Html.HiddenFor(model => model.Place)
            <div class="editor-label">
                @Html.LabelFor(model => model.Title)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Seats)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Seats)
                @Html.ValidationMessageFor(model => model.Seats)

            </div>
        </div>
        <div id="seatings">
            <br />
            <div class="hidden-field">
                @Html.HiddenFor(model => model.Seating.Content)
                @Html.HiddenFor(model => model.Seating.ID)
            </div>
            <div class="items">
                <div class="lanBlockContainer drag">
                    <div class="lanBlock resize">
                    </div>
                </div>
                <div class="lanTableContainer drag">
                    <table class="lanTable resize">
                        <tr>
                            <td>
                                <table class="tableH-a">
                                    <tr>
                                        <td class="seat-1"></td>
                                        <td class="seat-2"></td>
                                        <td class="seat-3"></td>
                                        <td class="seat-4"></td>
                                        <td class="seat-5"></td>
                                        <td class="seat-6"></td>
                                    </tr>
                                    <tr>
                                        <td class="seat-13"></td>
                                        <td class="seat-14"></td>
                                        <td class="seat-15"></td>
                                        <td class="seat-16"></td>
                                        <td class="seat-17"></td>
                                        <td class="seat-18"></td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <div class="switch">
                                </div>
                            </td>
                            <td>
                                <table class="tableH-b">
                                    <tr>
                                        <td class="seat-7"></td>
                                        <td class="seat-8"></td>
                                        <td class="seat-9"></td>
                                        <td class="seat-10"></td>
                                        <td class="seat-11"></td>
                                        <td class="seat-12"></td>
                                    </tr>
                                    <tr>
                                        <td class="seat-19"></td>
                                        <td class="seat-20"></td>
                                        <td class="seat-21"></td>
                                        <td class="seat-22"></td>
                                        <td class="seat-23"></td>
                                        <td class="seat-24"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="seatingContainer">

            </div>
            <div id="seatingScript">

                <script>
                    $(function () {
                        //Make every clone image unique.
                        var counts = [0];
                        var colors = ["rgb(128, 0, 0)", "rgb(0, 128, 0)", "rgb(0, 0, 128)"];
                        $(".drag").draggable({
                            helper: "clone",
                            grid: [20, 20],
                            //Create counter
                            start: function () { counts[0]++; }
                        });
                        $(".lanBlock").click(function () {
                            var colorIndex = colors.indexOf($(this).css("background-color"));

                            if ((colorIndex + 1) > (colors.length - 1)) {
                                $(this).css("background-color", colors[0]);
                            }
                            else {
                                $(this).css("background-color", colors[colorIndex + 1]);
                            }
                        });
                        $("#seatingContainer").droppable({
                            drop: function (e, ui) {
                                if (ui.draggable.hasClass("drag")) {
                                    $(this).append($(ui.helper).clone());
                                    //Pointing to the dragImg class in dropHere and add new class.
                                    $("#seatingContainer .drag").addClass("item-" + counts[0]);
                                    $("#seatingContainer .lanTableContainer").addClass("table-" + counts[0]);
                                    $("#seatingContainer .lanTableContainer").addClass("lanTableCont");
                                    $("#seatingContainer .lanBlockContainer").addClass("lanBlockCont");
                                    $("#seatingContainer .lanBlockContainer").addClass("block-" + counts[0]);
                                    $("#seatingContainer .resize").addClass("size-" + counts[0]);

                                    //Remove the current class (ui-draggable and dragImg)
                                    $("#seatingContainer .item-" + counts[0]).removeClass("drag ui-draggable ui-draggable-dragging");
                                    $("#seatingContainer .table-" + counts[0]).removeClass("lanTableContainer");
                                    $("#seatingContainer .block-" + counts[0]).removeClass("lanBlockContainer");
                                    $("#seatingContainer .size-" + counts[0]).removeClass("resize");
                                    //$("#seatingContainer .size-" + counts[0]).removeClass("lanBlock");

                                    $(".item-" + counts[0]).dblclick(function () {
                                        $(this).remove();
                                        saveSeatingTable();
                                    });
                                    make_draggable($(".item-" + counts[0]));
                                    var aresize = ".size-" + counts[0] + " table";
                                    var bresize = ", .size-" + counts[0] + " .switch";
                                    $(".size-" + counts[0]).resizable({
                                        handles: "all", autoHide: true, grid: 20, alsoResize: aresize,
                                        stop: function () {
                                            saveSeatingTable();
                                        }
                                    });

                                    saveSeatingTable();
                                }

                            }
                        });

                        var zIndex = 0;
                        function make_draggable(elements) {
                            elements.draggable({
                                containment: 'parent',
                                grid: [20, 20],
                                start: function (e, ui) { ui.helper.css('z-index', ++zIndex); },
                                stop: function (e, ui) {
                                    saveSeatingTable();
                                }
                            });
                        }

                        function saveSeatingTable() {
                            $("#Seating_Content").val($("#seatingContainer").html());
                        }

                        $("#seatingContainer > div").each(function () {
                            make_draggable($(this));
                            if ($(this).hasClass("lanBlockCont")) {
                                var divMain = $("." + $(this).attr('class').split(' ')[0] + " > div");
                                divMain.resizable({
                                    handles: "all", autoHide: true, grid: 20,
                                    stop: function () {
                                        saveSeatingTable();
                                    }
                                });
                            }

                            if ($(this).hasClass("lanTableCont")) {
                                //make_resizable($("." + $(this).attr('class').split(' ')[0] + " > table"));
                                var tableMain = $("." + $(this).attr('class').split(' ')[0] + " > table");
                                var childTables = "." + tableMain.attr('class').split(' ')[1] + " > tbody > tr > td > table";
                                $(this).dblclick(function () {
                                    $(this).remove();
                                    saveSeatingTable();
                                });
                                tableMain.resizable({
                                    handles: "all", autoHide: true, grid: 20, alsoResize: childTables,
                                    stop: function () {
                                        saveSeatingTable();
                                    }
                                });
                            }
                            counts[0]++;

                        });
                    });
                </script>
            </div>

            <br />
        </div>
    </fieldset>

}


<script type="text/javascript">
    $(function () {
        if ($("#Seating_Content").val() != "") {
            $("#seatingContainer").html($("#Seating_Content").val());
            $("#seatingScript").html($("#seatingScript").html());
        }
    });
</script>
@Scripts.Render("~/bundles/jqueryval")
